/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(218, 216, 215);  
}
.titulo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}